


header {
    display: flex;  
    background-image: url("background.jpeg");
    color: white;
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Prevent background from repeating */
    width: 100%; /* Full width of the container */
    height: 600px; /* Adjust height as needed */
      }
 
    

/* .rcorners1 { 
    border-radius: 50%;
}*/

.menu-list {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 800;
    padding-left: 0px;
    text-decoration: none;
    color: red;
    font-size: 20px ;
  }
  
  .menu-list li {
    display: inline-block; /* Make menu items appear in a row */
    
  }
  
  .menu-list li a {
    text-decoration: none; /* Remove underline */
    color: black; /* Change link color */
  }
  
  .menu-bar li a:hover {
    text-decoration: underline; /* Underline on hover */
  }



h1 {
    font-size: 50;
}




.image-and-text {
    display: flex;
    align-items: row; /* Align items vertically */
    
  }
  
  .my-photo {
    margin-right: 20px; /* Adjust margin between image and text */
    border-radius: 50%;
    border: 1px solid red;

  }
  
  .text {
    font-size: 20px;
  }