

header {
    display: flex;
    align-items: center;
    background-image: url("background.jpeg");
    color: white;
    background-size: 100%;
    background-position: 100%;
    text-align: center;
    justify-content: space-between; 
    margin-right: 100;
    padding: 10px; 
}
  

  

  
 



.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 800;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    color: brown;
    font-size: 20px ;
}