header {
    display: flex;  
    background-image: url("background.jpeg");
    color: white;
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Prevent background from repeating */
    width: 100%; /* Full width of the container */
    height: 600px; /* Adjust height as needed */
      }
 
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 800;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    color: #8e6f5b;
    font-size: 20px ;
}
   
      

.blogcontainer {
display: flex;
justify-content: space-around; /* Space items evenly along the main axis */
}

.blogbox {
flex: 0 0 45%; /* Set width of each box */
border: 1px solid #ccc; /* Add border around each box */
padding: 10px; /* Add padding for spacing */
}

h2 {
margin-top: 0; /* Remove default margin for heading */
color: #8e6f5b;;
}

.article {
margin-top: 20px; /* Add space between articles */
border: 1px solid #ccc; /* Add border around each article box */
padding: 10px; /* Add padding for spacing within article box */
font-size: 20px;
font-family: "Signika";
font-weight: lighter;
color: #9a7661;
}
      