
header {
    display: flex;
    align-items: flex-start;
    background-image: url("background.jpeg");
    color: white;
    background-size: 100%;
    background-position: 100%;
    text-align: center;
    justify-content: space-between; 
    margin-right: 100;
    padding: 10px; 
    background-repeat: no-repeat;
}

.phone {
    text-align: center;
    

}
.rcorners1 {
    border-radius: 50%;
}
a {
  color: brown;
  text-decoration: none;
}
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 800;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    color: brown;
    font-size: 20px ;
}

  
.image-container {
    display: flex;
    justify-content: space-evenly;
  
    
  }
  
  .image-wrapper {
    position: relative;
    margin-right: 10px; /* Adjust spacing between images */
   
  }
  
  .image{
    width: 800px; /* Adjust image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5%;
  }

  
  .bs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2;
  }
  .PC {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }