
header {
    display: flex;
    align-items: center;
    background-image: url("background.jpeg");
    color: white;
    background-size: 100%;
    background-position: 100%;
    text-align: center;
    justify-content: space-between;
    margin-right: 100;
}

.rcorners1 {
    border-radius: 50%;
    
}

nav {
    width: 1700px;
    height: 100px;
    background-color: beige;
    font-weight: bold;
}

nav ul li {
    list-style: none;
    display: inline-block;

    line-height: 100px;
}
ul {

}


ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    color: brown;
    padding: 0 100px;
    align-items: center;

}
.bodyfont {
    font-family: Arial;
    justify-content: center;
    font-size: 14;
}
.mainheading {
    font-family: Arial;
    font-size: 20;
}

kitchen {
    background-image: url(Kitchen.jpg);
    background-size: 100%;
    background-position: 100%;
    

    

    
}